:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Montserrat', 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
}

.gallery-item {
  width: 376px;
  height: 208px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}



.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;   
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  min-width: 408px;
  background: #ffffff;
  border-radius: 8px;
  gap: 8px;  
}

 /* Группировка лейбла и инпута */
.feedback-form label {
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;   
}

 /* Общие стили для инпута и текстового поля */
.feedback-form input,
.feedback-form textarea {
  min-width: 360px ;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    resize: none;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border: 1px solid #000;
}

 /* Стили для кнопки */
.submit-button {
  display: block;
  min-width: 95px;
  height: 40px;
  margin-top: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.submit-button:hover {
  background-color: #7d85f5;
}  