:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
    margin: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Montserrat', 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fafafa;
    color: #212121;
    line-height: 1.5;
    flex-direction: column;
    align-items: center;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 24px;
  justify-content: center;
}

.gallery-item {
  width: 376px;
  height: 208px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}